* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #acbcca;
  font-size: 18px;
  gap: 2rem;
}

.neon-text {
  font-size: 4rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00e6,
    0 0 70px #ff00e6, 0 0 80px #ff00e6, 0 0 100px #ff00e6, 0 0 150px #ff00e6;
  animation: neon-glow 1s ease-in-out infinite alternate;
}

/* @keyframes neon-glow {
  to {
    text-shadow: 0 0 20px #fff, 0 0 40px #ff00e6, 0 0 60px #ff00e6,
      0 0 80px #ff00e6, 0 0 100px #ff00e6, 0 0 120px #ff00e6, 0 0 140px #ff00e6;
  }
} */

.clock {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 500px;
  background-color: #c9d5e0;
  border-radius: 1rem;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  box-shadow: 10px 10px 20px -10px black,
    inset 8px 8px 8px rgb(255, 255, 255, 0.8), inset -2px -2px 4px lightgray,
    inset -2px -2px 4px rgb(0, 0, 0, 0.5);
}

.number {
  position: absolute;
  width: 320px;
  height: 320px;
  background-color: #152b4a;
  border-radius: 50%;
  top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 6px 6px 20px gray, inset 2px 2px 8px rgb(255, 255, 255, 0.8);
}

.number span {
  position: absolute;
  inset: 1rem;
  text-align: center;
  color: white;
  font-size: 1.25rem;
  transform: rotate(calc(30deg * var(--i)));
}

.number span b {
  display: inline-block;
  transform: rotate(calc(-30deg * var(--i)));
}

.number .circle {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-self: center;
  z-index: 10;
}

.number .circle i {
  position: absolute;
  width: 3px;
  height: 50%;
  background-color: var(--clr);
  opacity: 0.8;
  transform-origin: bottom;
  transform: scaleY(0.8);
}

.number .circle#sec i {
  width: 2px;
}
.number .circle#min i {
  width: 3px;
}
.number .circle#hrs i {
  width: 4px;
}
.number .circle#hrs {
  border: none;
  width: 120px;
  height: 120px;
}
.number .circle#min {
  border: none;
  width: 160px;
  height: 160px;
}

.number::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: white;
  z-index: 1000;
  border: 1px solid red;
}

.digi {
  position: absolute;
  bottom: 80px;
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  background-color: #152b4a;
  border-radius: 1rem;
  color: white;
  box-shadow: 2px 2px 12px 2px grey;
  gap: 1rem;
  font-size: 1.25rem;
}

.digi #hr,
.digi #minute,
.digi #second {
  color: var(--clr);
}

.digi #hr::after,
.digi #minute::after {
  content: ":";
  position: relative;
  left: 0.4rem;
}
